@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #f582ac;
    padding: 10px;
    width: 50%;
}

.user-icon-container {
    border-radius: 50px;
    border-width: 3px;
    border-color: #07052b;
    border-style: solid;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 10px;
}

.user-icon {
    font-size: 40px;
}

.main-heading {
    font-size: 20px;
    font-weight: bold;
    color: #07052b;
    padding-right: 10px;
    padding-left: 10px;
}

.art-director {
    font-size: 12px;
    color: #07052b;
    padding-left: 10px;
}

.profile {
    font-size: 10px;
}

.vertical {
    height: 130px;
    width: 0px;
    color: #07052b;
    border-color: #07052b;
    border-width: 2px;
    border-style: solid;
}

.description {
    color: #07052b;
    font-size: 13px;
}

.horizontal-line {
    font-size: 20px;
    height: 30px;
    width: 80%;
    font-weight: bold;
    margin-top: 0px;
}

.heighlight {
    font-weight: 700;
}

.description2 {
    color: #07052b;
    font-size: 11px;
    margin-left: 0px;
}

.vertical2 {
    height: 170px;
    width: 0px;
    color: #07052b;
    border-color: #07052b;
    border-width: 2px;
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ver {
    margin-left: 73px;
}

.user-icon-container2 {
    border-radius: 50px;
    border-width: 3px;
    border-color: #07052b;
    border-style: solid;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 10px;
    background-color: #07052b;
}

.mar {
    margin-left: 80px;
}
